*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
Manifest.toml
/dev/
/docs/build/
/docs/site/
/docs/web-server-docs.sh
/notes
/benchmarks/data_raw/
/benchmarks/outputs/
/benchmarks/settings.json
/benchmarks/topotoolbox3
/examples/theory/deflection.png
/examples/theory/deflection-D8.png
